{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Hero Header -->
<div class="container-xxl py-5 bg-dark hero-header mb-5">
    <div class="container text-center my-5 pt-5 pb-4">
        <h1 class="display-3 text-white mb-3 animated slideInDown">About</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center text-uppercase">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page">About</li>
            </ol>
        </nav>
    </div>
</div>

<!-- Team Start -->
<div class="container-xxl pt-5 pb-3">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h5 class="section-title ff-secondary text-center text-primary fw-normal">Team Members</h5>
            <h1 class="mb-5">Our Master Chefs</h1>
        </div>
        <div class="row g-4">
            {% for i in chef %}
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item text-center rounded overflow-hidden p-3 shadow">
                    <div class="rounded-circle overflow-hidden mx-auto team-img" style="width: 180px; height: 180px;">
                        <img class="img-fluid w-100 h-100 object-fit-cover" src="{{ i.image.url }}" alt="chef image">
                    </div>
                    <h5 class="mb-0 mt-3">{{ i.full_name }}</h5>
                    <small class="text-muted">{{ i.title }}</small>
                    <div class="d-flex justify-content-center mt-3">
                        <a class="btn btn-sm btn-primary rounded-circle mx-1" href="{{ i.facebook }}"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-sm btn-primary rounded-circle mx-1" href="{{ i.twiter }}"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-sm btn-primary rounded-circle mx-1" href="{{ i.instagram }}"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Team End -->

{% endblock %}
