{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="container-xxl py-5 bg-dark hero-header mb-5">
    <div class="container my-5 py-5">
        <div class="row align-items-center g-5">
            <div class="col-lg-6 text-center text-lg-start">
                <h1 class="display-3 text-white animated slideInLeft">{{ home.title }}</h1>
                <p class="text-white animated slideInLeft mb-4 pb-2">{{home.description}}</p>
                <a href="{% url 'booking' %}" class="btn btn-primary py-sm-3 px-sm-5 me-3 animated slideInLeft">Bron
                    qilish</a>
            </div>
            <div class="col-lg-6 text-center text-lg-end overflow-hidden">
                <img class="img-fluid" src="https://i.pinimg.com/736x/96/a5/3c/96a53c58399d7ddbc466b6a3f5012f36.jpg" alt="website template image">
            </div>
        </div>
    </div>
</div>


<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4">
            {% for i in secbut %}
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="{{ forloop.counter0|add:'0.1' }}s">
                <div class="h-100 d-flex flex-column justify-content-start align-items-start service-item rounded pt-3">
                    <div class="p-4 flex-grow-1 w-100">

                        <h5>{{ i.title }}</h5>
                        <p class="sec">{{ i.description }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <div class="row g-3">
                    {% for i in about %}
                    <div class="col-6 text-start">
                        <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.1s" src="{{i.image.url}}">
                    </div>
                    {% endfor%}
                </div>
            </div>
            <div class="col-lg-6">
                <h5 class="section-title ff-secondary text-start text-primary fw-normal">{{aboutm.full_name}}
                </h5>
                <h1 class="mb-4">Hush kelbsiz <i class="fa fa-utensils text-primary me-2"></i>Restoran</h1>
                <b>{{aboutm.descrption}}</b>
                <hr>
                <div class="row g-4 mb-4">
                    {% for i in section %}
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                            <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">
                                {{i.number}}
                            </h1>
                            <div class="ps-4">
                                <h6 class="text-uppercase mb-0">{{i.title}}</h6>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <hr>
                    <a class="btn btn-primary py-3 px-5 mt-2" href="{% url 'about' %}"
                        style="height: 50px; width: 400px; border-radius: 10; background-color: rgb(148, 136, 31); color: rgb(204, 255, 0);">Read
                        More</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h5 class="section-title ff-secondary text-center text-primary fw-normal">Food Menu</h5>
                <h1 class="mb-5">Most Popular Items</h1>
            </div>
            <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.1s">
                <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
                    <li class="nav-item"><a class="d-flex align-items-center text-start mx-3 ms-0 pb-3 active"
                            data-bs-toggle="pill" href="#tab-1"><i class="fa fa-coffee fa-2x text-primary"></i>
                            <div class="ps-3"><small class="text-body">Popular</small>
                                <h6 class="mt-n1 mb-0">Breakfast</h6>
                            </div>
                        </a></li>
                    <li class="nav-item"><a class="d-flex align-items-center text-start mx-3 pb-3" data-bs-toggle="pill"
                            href="#tab-2"><i class="fa fa-hamburger fa-2x text-primary"></i>
                            <div class="ps-3"><small class="text-body">Special</small>
                                <h6 class="mt-n1 mb-0">Launch</h6>
                            </div>
                        </a></li>
                    <li class="nav-item"><a class="d-flex align-items-center text-start mx-3 me-0 pb-3"
                            data-bs-toggle="pill" href="#tab-3"><i class="fa fa-utensils fa-2x text-primary"></i>
                            <div class="ps-3"><small class="text-body">Lovely</small>
                                <h6 class="mt-n1 mb-0">Dinner</h6>
                            </div>
                        </a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane fade show p-0 active">
                        <div class="row g-4">
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center"><img class="flex-shrink-0 img-fluid rounded"
                                        src="assets/img/menu-1.jpg" alt="website template image" style="width:80px;">
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                                            <span>Chicken
                                                Burger</span> <span class="text-primary">$115</span>
                                        </h5>
                                        <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo
                                            diam</small>
                                    </div>
                                </div>
                            </div>
                            <div class="container-xxl py-5 px-0 wow fadeInUp" data-wow-delay="0.1s">
                                <div class="row g-0">
                                    <div class="col-md-6">
                                        <div class="video">
                                            <button type="button" class="btn-play" data-bs-toggle="modal"
                                                data-src="https://www.youtube.com/embed/DWRcNpR6Kdc"
                                                data-bs-target="#videoModal">
                                                <span></span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-md-6 bg-dark d-flex align-items-center">
                                        <div class="p-5 wow fadeInUp" data-wow-delay="0.2s">
                                            <h5 class="section-title ff-secondary text-start text-primary fw-normal">
                                                Reservation</h5>
                                            <h1 class="text-white mb-4">Book A Table Online</h1>
                                            <form method="post">
                                                {% csrf_token %}
                                                <div class="row g-3">
                                                    <div class="col-md-6">
                                                        {{forms.Ismingiz}}
                                                    </div>
                                                    <div class="col-md-6">
                                                        {{forms.Emailngiz}}
                                                    </div>
                                                    <div class="col-md-6">
                                                        {{forms.Nomer}}
                                                    </div>
                                                    <div class="col-md-6">
                                                        {{forms.Odam}}
                                                    </div>
                                                    <br>
                                                    <br>
                                                    <div class="col-12">
                                                        {{forms.Habar}}
                                                    </div>
                                                    <div class="col-12">
                                                        <button class="btn btn-primary w-100 py-3" type="submit">Book
                                                            Now</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content rounded-0">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Youtube Video</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <!-- 16:9 aspect ratio -->
                                            <div class="ratio ratio-16x9">
                                                <iframe class="embed-responsive-item" src="" id="video" allowfullscreen
                                                    allowscriptaccess="always" allow="autoplay"></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="container-xxl pt-5 pb-3">
                                <div class="container">
                                    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                                        <h5 class="section-title ff-secondary text-center text-primary fw-normal">
                                            Team Members</h5>
                                        <h1 class="mb-5">Our Master Chefs</h1>
                                    </div>
                                    <div class="row g-4">
                                        {% for i in chef %}
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 wow fadeInUp"
                                            data-wow-delay="0.1s">
                                            <div class="team-item text-center rounded overflow-hidden">
                                                <div class="rounded-circle overflow-hidden m-4 mx-auto team-img">
                                                    <img class="img-fluid"
                                                        style="height: 220px; width: 700px; padding-top: -90px;"
                                                        src="{{i.image.url}}" alt="">
                                                </div>
                                                <h5 class="mb-0">{{i.full_name}}</h5>
                                                <small>{{i.title}}</small>
                                                <div class="d-flex justify-content-center mt-3">
                                                    <a class="btn btn-square btn-primary mx-1" href="{{i.facebook}}"><i
                                                            class="fab fa-facebook-f"></i></a>
                                                    <a class="btn btn-square btn-primary mx-1" href="{{i.twiter}}"><i
                                                            class="fab fa-twitter"></i></a>
                                                    <a class="btn btn-square btn-primary mx-1" href="{{i.instagram}}"><i
                                                            class="fab fa-instagram"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                            <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
                                <div class="container">
                                    <div class="text-center">
                                        <h5 class="section-title ff-secondary text-center text-primary fw-normal">
                                            Comment</h5>
                                        <h1 class="mb-5">Bizning clinetlarimiz !!!</h1>
                                    </div>
                                    <div class="owl-carousel testimonial-carousel">
                                        {% for i in services %}
                                        <div class="testimonial-item bg-transparent border rounded p-4">
                                            <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                                            <p>{{ i.dsc}}</p>
                                            <div class="d-flex align-items-center">
                                                <img class="img-fluid flex-shrink-0 rounded-circle"
                                                    src="{{i.image.url}}" style="width: 50px; height: 50px;">
                                                <div class="ps-3">
                                                    <h5 class="mb-1">{{ i.full_name }}</h5>
                                                </div>
                                            </div>
                                        </div>
                                        {%endfor%}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                </html>
                {% endblock %}